.page-3 {
  width: 100%;
  height: 650px;
  /* border: 1px solid red; */
}

.page-3 .page-main{
  /* border: 1px solid blue; */
  width: 1200px;
  margin: auto;
  
}

.page-3 .page-main .title-1 {
  /* border: 1px solid red; */
  line-height: 23px;
  font-weight: bold;
  padding-top: 91px;
  text-align: center;
  font-style: oblique;
}

.page-3 .page-main .title-2 {
  padding-top: 23px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
}

.page-3 .page-main .title-2 ::after {
  content: "";
  width: 60px;
  height: 3px;
  margin: auto;
  display: block;
  margin-top: 40px;
  background: #f38181;
}

.page-3 .page-main .list1 {
  width: 1200px;
  height: 120px;
  margin-top: 66px;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  /* border: 1px solid red; */
}

.page-3 .page-main  .list1 div {
  /* border: 1px solid blue; */
  width: 333px;
  height: 69px;
}

.page-3 .page-main  .list1 .b1 {
  margin-left: 30px;
  display: flex;
}

.page-3 .page-main  .list1 .b1 .b1-img {
  width: 60px;
}

.page-3 .page-main  .list1 .b1 .b1-text :first-child {
  display: block;
  width: 110px;
  height: 10px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
}

.page-3 .page-main  .list1 .b1 .b1-text :last-child {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 273px;
  height: 39px;
  font-size: 15px;
  color: #999999;
}

.page-3 .page-main  .list1 .b2 {
  margin-left: 68px;
  display: flex;
}

.page-3 .page-main  .list1 .b2 .b2-img {
  width: 60px;
}

.page-3 .page-main  .list1 .b2 .b2-text :first-child {
  width: 91px;
  height: 10px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
}

.page-3 .page-main  .list1 .b2 .b2-text :last-child {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 261px;
  height: 39px;
  font-size: 15px;
  color: #999999;
}

.page-3 .page-main  .list1 .b3 {
  margin-left: 79px;
  display: flex;
}

.page-3 .page-main  .list1 .b3 .b3-img {
  width: 60px;
}

.page-3 .page-main  .list1 .b3 .b3-text :first-child {
  width: 82px;
  height: 10px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
}

.page-3 .page-main  .list1 .b3 .b3-text :last-child {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 282px;
  height: 39px;
  font-size: 15px;
  color: #999999;
}

.page-3 .page-main   .list2 {
  width: 1200px;
  height: 120px;
  margin-top: 49px;
  display: flex;
  /* border-bottom: 1px solid #e5e5e5; */
  /* border: 1px solid red; */
}

.page-3 .page-main  .list2 div {
  /* border: 1px solid blue; */
  width: 333px;
  height: 69px;
}

.page-3 .page-main  .list2 .b1 {
  margin-left: 30px;
  display: flex;
}

.page-3 .page-main .list2 .b1 .b1-img {
  width: 60px;
}

.page-3 .page-main .list2 .b1 .b1-text :first-child {
  display: block;
  width: 110px;
  height: 10px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
}

.page-3 .page-main .list2 .b1 .b1-text :last-child {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 273px;
  height: 39px;
  font-size: 15px;
  color: #999999;
}

.page-3 .page-main .list2 .b2 {
  margin-left: 68px;
  display: flex;
}

.page-3 .page-main .list2 .b2 .b2-img {
  width: 60px;
}

.page-3 .page-main .list2 .b2 .b2-text :first-child {
  width: 91px;
  height: 10px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
}

.page-3 .page-main .list2 .b2 .b2-text :last-child {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 261px;
  height: 39px;
  font-size: 15px;
  color: #999999;
}

.page-3 .page-main .list2 .b3 {
  margin-left: 79px;
  display: flex;
}

.page-3 .page-main .list2 .b3 .b3-img {
  width: 60px;
}

.page-3 .page-main .list2 .b3 .b3-text :first-child {
  width: 82px;
  height: 10px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
}

.page-3 .page-main .list2 .b3 .b3-text :last-child {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 282px;
  height: 39px;
  font-size: 15px;
  color: #999999;
}
