.Page9{
    width: 1920px;
    height: 970px;
    border: 1px solid white;
}

.Page9 .h9 {
    /* border: 1px solid red; */
    width: 954px;
    height: 111px;
    margin-left: 483px;
    margin-top: 112px;
    position: relative;
}
  
.Page9 .h9 .content-1 {
    /* border: 1px solid red; */
    width: 954px;
    position: absolute;
    font-style: oblique;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
}
  
.Page9 .h9 .content-2 {
    /* border: 1px solid red; */
    width: 954px;
    position: absolute;
    top: 46px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
}
  
.Page9 .h9 .content-2 ::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.Page9 .b9{
    /* border: 1px solid red; */
    width: 1200px;
    height: 384px;
    margin-left: 360px;
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:flex-start
}

.Page9 .b9 .b9-box1{
    /* border: 1px solid blue; */
    width: 380px;
    height: 240px;
    position: relative;
}

.Page9 .b9 .b9-date1{
    position: absolute;
    width: 60px;
    height: 70px;
    /* border: 1px solid red; */
    left: -10px;
    top: 160px;
    background-color: #95e1d3;;
}
.Page9 .b9 .b9-date1 .b9-date1-number{
    margin-top: 15px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}

.Page9 .b9 .b9-date1 .b9-date1-month{
    font-size: 15px;
    font-style: oblique;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    line-height: 30px;
}


.Page9 .b9 .b9-box2{
    /* border: 1px solid red; */
    width: 380px;
    height: 240px;
    position: relative;
}

.Page9 .b9 .b9-date2{
    /* border: 1px solid red; */
    position: absolute;
    width: 60px;
    height: 70px;
    /* border: 1px solid red; */
    left: -10px;
    top: 160px;
    background-color: #95e1d3;;
}
.Page9 .b9 .b9-date2 .b9-date2-number{
    margin-top: 15px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}

.Page9 .b9 .b9-date2 .b9-date2-month{
    font-size: 15px;
    font-style: oblique;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    line-height: 30px;
}

.Page9 .b9 .b9-box3{
    /* border: 1px solid red; */
    width: 380px;
    height: 240px;
    position: relative;
}

.Page9 .b9 .b9-date3{
    /* border: 1px solid red; */
    position: absolute;
    width: 60px;
    height: 70px;
    /* border: 1px solid red; */
    left: -10px;
    top: 160px;
    background-color: #95e1d3;;
}
.Page9 .b9 .b9-date3 .b9-date3-number{
    margin-top: 15px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}

.Page9 .b9 .b9-date3 .b9-date3-month{
    font-size: 15px;
    font-style: oblique;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    line-height: 30px;
}

.Page9 .b9 .b9-box4{
    /* border: 1px solid red; */
    width: 380px;
    height: 114px;
}

.Page9 .b9 .b9-box4 .b9-box4-text1{
    margin-top: 18px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    height: 10px;
    line-height: 10px;
}

.Page9 .b9 .b9-box4 .b9-box4-text2{
    margin-top: 20px;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    height: 39px;
    /* border: 1px solid red; */
}

.Page9 .b9 .b9-box4 .b9-box4-text3{
    height: 34px;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    position: relative;
    
}
.Page9 .b9 .b9-box4 .b9-box4-text3 .b9-box4-text31{
    position: absolute;
    top: 20px;
    font-size: 15px;
    line-height: 24px;
    font-style: oblique;
    color: #999999;
}

.Page9 .b9 .b9-box4 .b9-box4-text3 .b9-box4-text32{
    font-size: 15px;
    position: absolute;
    left: 69px;
    top: 22px;
    line-height: 25px;
    font-style: oblique;
    color: #999999;
    
}



.Page9 .b9 .b9-box5{
    /* border: 1px solid red; */
    width: 380px;
    height: 114px;
}

.Page9 .b9 .b9-box5 .b9-box5-text1{
    margin-top: 18px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    height: 10px;
    line-height: 10px;
}

.Page9 .b9 .b9-box5 .b9-box5-text2{
    margin-top: 20px;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    height: 39px;
    /* border: 1px solid red; */
}

.Page9 .b9 .b9-box5 .b9-box5-text3{
    height: 34px;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    position: relative;
    
}
.Page9 .b9 .b9-box5 .b9-box5-text3 .b9-box5-text31{
    position: absolute;
    top: 20px;
    font-size: 15px;
    line-height: 24px;
    font-style: oblique;
    color: #999999;
}

.Page9 .b9 .b9-box5 .b9-box5-text3 .b9-box5-text32{
    font-size: 15px;
    position: absolute;
    left: 69px;
    top: 22px;
    line-height: 25px;
    font-style: oblique;
    color: #999999;
    
}

.Page9 .b9 .b9-box6{
    /* border: 1px solid red; */
    width: 380px;
    height: 114px;
    position: relative;
}

.Page9 .b9 .b9-box6 .b9-box6-text1{
    margin-top: 18px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    height: 10px;
    line-height: 10px;
}

.Page9 .b9 .b9-box6 .b9-box6-text2{
    margin-top: 20px;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    height: 39px;
    /* border: 1px solid red; */
}

.Page9 .b9 .b9-box6 .b9-box6-text3{
    height: 34px;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    position: relative;
    
}
.Page9 .b9 .b9-box6 .b9-box6-text3 .b9-box6-text31{
    position: absolute;
    top: 20px;
    font-size: 15px;
    line-height: 24px;
    font-style: oblique;
    color: #999999;
}

.Page9 .b9 .b9-box6 .b9-box6-text3 .b9-box6-text32{
    font-size: 15px;
    position: absolute;
    left: 69px;
    top: 22px;
    line-height: 25px;
    font-style: oblique;
    color: #999999; 
}

.Page9 .f9{
    width: 1920px;
    height: 200px;
    border: 1px solid white;
    margin-top: 116px;
    background-image: url(../img/map.png);
}

.Page9 .f9 .h9 {
    /* border: 1px solid red; */
    width: 954px;
    height: 111px;
    margin-left: 483px;
    margin-top: 57px;
    position: relative;
}
  
.Page9 .f9 .h9 .content-1 {
    /* border: 1px solid red; */
    width: 954px;
    position: absolute;
    font-style: oblique;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
}
  
.Page9 .f9 .h9 .content-2 {
    /* border: 1px solid red; */
    width: 954px;
    position: absolute;
    top: 44px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    font-size: 24px;
    color: #f38181;
}
  
.Page9 .f9 .h9 .content-2 ::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
}

