.page-2 {
  width: 100%;
  /* min-width: 1200px; */
  /* border: 1px solid red; */
}

.page-2 .page-main {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: auto;
}

.page-2 .page-main .title-1 {
  /* border: 1px solid red; */
  line-height: 23px;
  font-weight: bold;
  padding-top: 91px;
  text-align: center;
  font-style: oblique;
}

.page-2 .page-main .title-2 {
  padding-top: 23px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
}

.page-2 .page-main .title-2 ::after {
  content: "";
  width: 60px;
  height: 3px;
  margin: auto;
  display: block;
  margin-top: 40px;
  background: #f38181;
}

.page-2 .page-main .title-3 {
  padding-left: 139px;
  padding-right: 128px;
  margin-top: 47px;
  text-align: center;
}

.page-2 .page-main .content {
  /* border: 1px solid red; */
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.page-2 .page-main .content .box {
  width: 380px;
  height: 250px;
  margin-top: 101px;
}

.page-2 .page-main .content .box11 {
  margin-left: 16px;
  background: #95e1d3;
  position: relative;
}
.page-2 .page-main .content .box12 {
  width: 380px;
  height: 250px;
  position: absolute;
  bottom: 10px;
  left: -10px;
}

.page-2 .page-main2 {
  background: #95e1d3;
}

.page-2 .page-main2 .main2 {
  width: 1200px;
  display: flex;
  margin: auto;
  margin-top: 130px;
  background: #95e1d3;
}

.page-2 .page-main2 .main2 .info1 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 240px;
  height: 270px;
  position: relative;
}

.page-2 .page-main2 .main2 .info1 .info1-number {
  position: absolute;
  width: 85px;
  height: 51px;
  font-size: 72px;
  color: #ffffff;
  left: 79px;
  top: 89px;
  line-height: 51px;
}

.page-2 .page-main2 .main2 .info1 .info1-text {
  position: absolute;
  width: 169px;
  height: 10px;
  font-size: 14px;
  color: #ffffff;
  left: 36px;
  top: 170px;
  line-height: 10px;
}

.page-2 .page-main2 .main2 .info2 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 240px;
  height: 270px;
  position: relative;
}

.page-2 .page-main2 .main2 .info2 .info2-number {
  position: absolute;
  width: 111px;
  height: 52px;
  font-size: 72px;
  color: #ffffff;
  left: 55px;
  top: 89px;
  line-height: 51px;
  text-align: center;
}

.page-2 .page-main2 .main2 .info2 .info2-text {
  position: absolute;
  width: 101px;
  height: 10px;
  font-size: 14px;
  color: #ffffff;
  left: 71px;
  top: 170px;
  line-height: 10px;
  text-align: center;
}

.page-2 .page-main2 .main2 .info3 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 240px;
  height: 270px;
  position: relative;
}

.page-2 .page-main2 .main2 .info3 .info3-number {
  position: absolute;
  width: 70px;
  height: 52px;
  font-size: 72px;
  color: #ffffff;
  left: 76px;
  top: 89px;
  line-height: 52px;
  text-align: center;
}

.page-2 .page-main2 .main2 .info3 .info3-text {
  position: absolute;
  width: 119px;
  height: 10px;
  font-size: 14px;
  color: #ffffff;
  left: 61px;
  top: 170px;
  line-height: 10px;
}

.page-2 .page-main2 .main2 .info4 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 240px;
  height: 270px;
  position: relative;
}

.page-2 .page-main2 .main2 .info4 .info4-number {
  position: absolute;
  width: 87px;
  height: 52px;
  font-size: 72px;
  color: #ffffff;
  left: 78px;
  top: 89px;
  line-height: 52px;
  text-align: center;
}

.page-2 .page-main2 .main2 .info4 .info4-text {
  position: absolute;
  width: 111px;
  height: 10px;
  font-size: 14px;
  color: #ffffff;
  left: 65px;
  top: 170px;
  line-height: 10px;
  text-align: center;
}

.page-2 .page-main2 .main2 .info5 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 240px;
  height: 270px;
  position: relative;
}

.page-2 .page-main2 .main2 .info5 .info5-number {
  position: absolute;
  width: 87px;
  height: 51px;
  font-size: 72px;
  color: #ffffff;
  left: 79px;
  top: 89px;
  line-height: 51px;
  text-align: center;
}

.page-2 .page-main2 .main2 .info5 .info5-text {
  position: absolute;
  width: 72px;
  height: 10px;
  font-size: 14px;
  color: #ffffff;
  left: 85px;
  top: 170px;
  line-height: 10px;
  text-align: center;
}
