.page-6 {
  width: 100%;
  /* min-width: 1200px; */
  /* border: 1px solid red; */
}

.page-6 .page-main {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: auto;
}

.page-6 .page-main .title-1 {
  /* border: 1px solid red; */
  line-height: 23px;
  font-weight: bold;
  padding-top: 91px;
  text-align: center;
  font-style: oblique;
}

.page-6 .page-main .title-2 {
  padding-top: 23px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
}

.page-6 .page-main .title-2 ::after {
  content: "";
  width: 60px;
  height: 3px;
  margin: auto;
  display: block;
  margin-top: 40px;
  background: #f38181;
}

.page-6 .page-main .title-3 {
  padding-left: 139px;
  padding-right: 128px;
  margin-top: 47px;
  text-align: center;
}

.page-6 .page-main .b6 {
  /* border: 1px solid red; */
  width: 1200px;
  height: 470px;
  margin-top: 92px;

  display: flex;
  flex-wrap: wrap;
}

.page-6 .page-main .b6 .b6-box1 {
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
  position: relative;
}

.page-6 .page-main .b6 .b6-box11 {
  width: 380px;
  height: 470px;
  position: absolute;
  left: -10px;
  bottom: 10px;
}

.page-6 .page-main .b6 .b6-box2 {
  width: 380px;
  height: 470px;
  margin-left: 30px;
  margin-right: 30px;
}

.page-6 .page-main .b6 .b6-box3 {
  width: 380px;
  height: 470px;
}

.page-6 .page-main .b6 .b6-box4 {
  /* border: 1px solid red; */
  width: 380px;
  height: 72px;
  position: relative;
}

.page-6 .page-main .b6 .b6-box4 :first-child {
  width: 380px;
  font-size: 14px;
  line-height: 10px;
  position: absolute;
  top: 31px;
  text-align: center;
}

.page-6 .page-main .b6 .b6-box4 :last-child {
  width: 380px;
  font-size: 15px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 56px;
  color: #999999;
  font-style: oblique;
}

.page-6 .page-main .b6 .b6-box5 {
  /* border: 1px solid red; */
  width: 380px;
  height: 72px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}
.page-6 .page-main .b6 .b6-box5 :first-child {
  width: 380px;
  font-size: 14px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 31px;
  text-align: center;
}

.page-6 .page-main .b6 .b6-box5 :last-child {
  width: 380px;
  font-size: 15px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 56px;
  text-align: center;
  color: #999999;
  font-style: oblique;
}

.page-6 .page-main .b6 .b6-box6 {
  /* border: 1px solid red; */
  width: 380px;
  height: 72px;
  position: relative;
}

.page-6 .page-main .b6 .b6-box6 :first-child {
  font-size: 14px;
  line-height: 10px;
  position: absolute;
  width: 380px;
  top: 31px;
  text-align: center;
}

.page-6 .page-main .b6 .b6-box6 :last-child {
  width: 380px;
  font-size: 15px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 56px;
  text-align: center;
  color: #999999;
  font-style: oblique;
}

.page-6 .f6 {
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
  border: 1px solid white;
  margin-top: 189px;
}

.page-6 .f6 .f6-img {
  width: 1200px;
  height: 149px;
  margin: auto;
  margin-top: 51px;
}
