.page-5 {
  width: 100%;
  /* min-width: 1200px; */
  /* border: 1px solid red; */
}

.page-5 .page-main {
  /* border: 1px solid blue; */
  width: 1200px;
  margin: auto;
}

.page-5 .page-main .title-1 {
  /* border: 1px solid red; */
  line-height: 23px;
  font-weight: bold;
  padding-top: 91px;
  text-align: center;
  font-style: oblique;
}

.page-5 .page-main .title-2 {
  padding-top: 23px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
}

.page-5 .page-main .title-2 ::after {
  content: "";
  width: 60px;
  height: 3px;
  margin: auto;
  display: block;
  margin-top: 40px;
  background: #f38181;
}

.page-5 .page-main .title-3 {
  padding-left: 139px;
  padding-right: 128px;
  margin-top: 47px;
  text-align: center;
}

.page-5 .page-main .b5 {
  height: 380px;
  /* border: 1px solid red; */

  margin-top: 92px;
  display: flex;
}

.page-5 .page-main .b5 .b5-img {
  width: 570px;
  height: 380px;
  margin-left: 11px;
  /* border: 1px solid red; */
}

.page-5 .page-main .b5 .b5-info {
  width: 600px;
  height: 380px;
  margin-left: 11px;
  /* border: 1px solid red; */
  margin-left: 30px;
}

.page-5 .page-main .b5 .b5-info1 {
  border: solid 1px #e5e5e5;
  border-bottom: none;
  height: 60px;
  display: flex;
  position: relative;
}
.page-5 .page-main .b5 .b5-info1 .b5-info1-img {
  margin: 15px;
}

.page-5 .page-main .b5 .b5-info1 .b5-info1-text {
  line-height: 60px;
  font-size: 14px;
  color: #333333;
}

.page-5 .page-main .b5 .b5-info1 .b5-info1-button {
  position: absolute;
  left: 558px;
  top: 24px;
}

.page-5 .page-main .b5 .b5-info2 {
  border: solid 1px #e5e5e5;
  height: 181px;
}

.page-5 .page-main .b5 .b5-info2 .b5-info2-text {
  overflow: scroll;
  overflow-x: hidden;
  width: 550px;
  height: 132px;
  margin-left: 20px;
  margin-top: 20px;
  color: #999999;
  font-style: oblique;
}

.page-5 .page-main .b5 .b5-info2 .b5-info2-text span {
  width: 525px;
  display: inline-block;
}

.page-5 .page-main .b5 .b5-info2 .b5-info2-text::-webkit-scrollbar {
  width: 5px;
  height: 90px;
  background-color: #f5f5f5;
}

.page-5 .page-main .b5 .b5-info2 .b5-info2-text::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #95e1d3;
}

.page-5 .page-main .b5 .b5-info3 {
  border: solid 1px #e5e5e5;
  height: 60px;
  margin-top: 10px;
  display: flex;
  position: relative;
}

.page-5 .page-main .b5 .b5-info3 .b5-info3-img {
  margin: 15px;
}

.page-5 .page-main .b5 .b5-info3 .b5-info3-text {
  line-height: 60px;
  font-size: 14px;
  color: #333333;
}

.page-5 .page-main .b5 .b5-info3 .b5-info3-button {
  position: absolute;
  left: 558px;
  top: 24px;
  transform: rotate(180deg);
}

.page-5 .page-main .b5 .b5-info4 {
  border: solid 1px #e5e5e5;
  height: 60px;
  margin-top: 10px;
  display: flex;
  position: relative;
}

.page-5 .page-main .b5 .b5-info4 .b5-info4-img {
  margin: 15px;
}

.page-5 .page-main .b5 .b5-info4 .b5-info4-text {
  line-height: 60px;
  font-size: 14px;
  color: #333333;
}

.page-5 .page-main .b5 .b5-info4 .b5-info4-button {
  position: absolute;
  left: 558px;
  top: 24px;
  transform: rotate(180deg);
  /* border: 1px solid red; */
}

.page-5 .ad {
  width: 100%;
  height: 310px;
  background-color: #f8f8f8;
  margin-top: 120px;
  overflow: hidden;
}

.page-5 .ad .ad-info {
  /* border: 1px solid red; */
  width: 1200px;
  height: 150px;
  margin: auto;
  margin-top: 70px;
  position: relative;
}

.page-5 .ad .ad-info .ad1 {
  margin-left: 121px;
  width: 150px;
  height: 150px;
  border: solid 3px #95e1d3;
}

.page-5 .ad .ad-info .ad1 .ad1-img {
  width: 63px;
  height: 61px;
  margin-left: 44px;
  margin-top: 45px;
}

.page-5 .ad .ad-info .ad2 {
  /* border: 1px solid red; */
  width: 767px;
  height: 96px;
  position: absolute;
  left: 332px;
  top: 10px;
  font-size: 24px;
  color: #999999;
  line-height: 30px;
  font-style: oblique;
}

.page-5 .ad .ad-info .ad3 {
  font-size: 24px;
  font-style: oblique;
  /* border: 1px solid red; */
  position: absolute;
  left: 390px;
  top: 129px;
}

.page-5 .ad .ad-info .ad4 {
  /* border: 1px solid red; */
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  left: 332px;
  bottom: 7px;
}

.page-5 .ad .ad-button1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(-90deg);
}

.page-5 .ad .ad-button2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(90deg);
}
